baseURL = "https://liam-zhong.github.io/"
# title = "Hugo Themes"
author = "Steve Francia"
copyright = "Copyright © 2004–2024, Steve Francia and the lee.so; all rights reserved."
paginate = 4
languageCode = "zh"
DefaultContentLanguage = "zh"
enableInlineShortcodes = true
# prevent build failures when using Hugo's Instagram shortcode due to deprecated Instagram API.
# See https://github.com/gohugoio/hugo/issues/7228#issuecomment-714490456
ignoreErrors = ["error-remote-getjson"]

# ------------------------------
theme = "paper"
title = "承霖的部落格"

[params]
  color = 'linen'

# twitter = 'ShuoLian62'
  github = 'Liam-Zhong'
  rss = true

  avatar = 'https://pica.zhimg.com/v2-5fe3afc9c57d74165650721e7a38c045_xll.jpg?source=32738c0c'
  name = 'Liam'
  bio = '骋我径寸翰，流藻垂华芬'
# ------------------------------

# needed to  render raw HTML (e.g. <sub>, <sup>, <kbd>, <mark>)
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
#  [markup.highlight]
#    lineNos = true

[menu]

  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 10
  [[menu.main]]
    identifier = "contact"
    name = "Contact"
    url = "/contact/"
    weight = 10
  [[menu.main]]
    identifier = "archives"
    name = "Achives"
    url = "/archives/"
    weight = 10

[taxonomies]
category = "categories"
tag = "tags"
series = "series"

[privacy]

  [privacy.vimeo]
    disabled = false
    simple = true

  [privacy.twitter]
    disabled = false
    enableDNT = true
    simple = true

  [privacy.instagram]
    disabled = false
    simple = true

  [privacy.youtube]
    disabled = false
    privacyEnhanced = true

[services]

  [services.instagram]
    disableInlineCSS = true

  [services.twitter]
    disableInlineCSS = true

[sitemap]
  changefreq = "monthly"
  priority = 0.5
  filename = "sitemap.xml"

[params.cusdis]
  enable = true
  app_id = "6c8fd496-b686-4bb1-aac6-8276c867aa7a"
  host = "https://cusdis.com"
  lang = "zh-cn"  

googleSiteVerification = true